.container {
  .page_title_box {
    display: flex;
    justify-content: center;
    h2 {
      font-family: sans-serif;
      color: #6a4ee1;
    }
  }

  .link {

    button {
      width: 141px;
      height: 40px;
      background-color: #b87df9;
      background-image: linear-gradient(90deg, #b87df9, #6a4ee1);
      border: 0 #000;
      padding: 9px 20px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      text-align: center;

      &:hover {
        background-image: linear-gradient(90deg, #b87df9, #6a4ee1 60%);
      }
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 70%;
    min-width: 40%;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 2% 15%;

    input {
      border: 1px solid #553bc3;
      border-radius: 10px;
      padding: 5px;
      margin: 10px;
      height: 30px;
      width: 230px;
      outline: none;
      cursor: pointer;
    }

    .input_id {
      width: 130px;
      height: 30px;
      border-radius: 5px;
      background: #a572f3;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 20px;
      font-family: cursive;
      text-align: center;
    }
  }

  .add_btn {
    width: 141px;
    height: 40px;
    background-color: #b87df9;
    background-image: linear-gradient(90deg, #b87df9, #6a4ee1);
    border: 0 #000;
    padding: 9px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;

    &:hover {
      background-image: linear-gradient(90deg, #b87df9, #6a4ee1 60%);
    }
  }
}
